body {
	background-color: #0202;
}
.tab {
	tab-size: 4;
}
.aciklama {
	text-align: center;
	border: #0000 solid;
	position: absolute;
	background-color: #6eba1c;
	border-color: #2a2e2b;
	height: 400;
  	width: 1300;
  	left: 20;
	/*width: width=device-width;
  	left: 500px;*/
}
hr {
            position: relative;
            top: 10px;
            border: none;
            height: 12px;
            background: black;
            margin-bottom: 50px;
        }

button {
	background-color: gray;
	border-color: black;
}

p {
	font-family: Ariel;
	font-size: 20px;
	/*white-space:  pre;*/
}